<?xml version="1.0"?>

<model>
  <name>TurtleBot3 Labyrinth Long Houses</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Andrey Sator</name>
    <email>andrey951768@gmail.com</email>
  </author>

  <description>
    Open labyrinth for exploration testing
  </description>
</model>
